
.comp{

  .headsmtitle{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    line-height: 1.2;
    padding: 5px 0;

    &-col{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      @include flexbox-flex(0 0 auto);
      width: auto;
      max-width: 100%;

      h6{color: $site-clr-white;}

      h6, p{
        @include responsive-font-size($var-custom-font-size-base);
      }
    }
  }

}