
.comp{

  &-notif{

    .headsmtitle{
      padding-bottom: $modal-inner-padding;
      border-bottom: 1px solid $site-brdr-dark;
    }

    &-wrp{}

    &-list{
      height: 750px;
      position: relative;
      overflow: hidden;

      .notifacc{
        margin: $modal-inner-padding*0.9 0 0;
        padding-bottom: $modal-inner-padding/2;
        border-bottom: 1px solid $site-brdr-dark;

        &:last-child{
          margin-bottom: 0;
        }

        &-heading{
          @include flexbox-display-flex();
          @include flexbox-flex-wrap(wrap);
          @include flexbox-align-items(center);
          @include flexbox-justify-content(space-between);
          padding-bottom: $modal-inner-padding/2;
          padding-left: 15px;
          position: relative;

          &::before{
            content: "";
            background-color: $site-clr-red;
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0;
            top: 6px;
            @include border-radius(50px);
          }

          > *{
            @include flexbox-display-flex();
            @include flexbox-align-items(center);
            @include flexbox-flex(0 0 auto);
            width: auto;
            max-width: 100%;
          }

          &[data-toggle="collapse"] .notifacc-detail{
            padding-right: 10px;
            position: relative;

            &::after{
              content: "";
              width: 6px;
              height: 6px;
              border-right: 1px solid $site-clr-blue;
              border-bottom: 1px solid $site-clr-blue;
              position: absolute;
              right: 0;
              top: 5px;
              @include rotate(45);
              @include transition-multiple(transform 0.3s ease-in-out, top 0.3s ease-in-out);
            }
          }

          &[aria-expanded="true"] .notifacc-detail{
            &::after{
              top: 8px;
              @include rotate(225);
            }
          }
        }

        &-collapse{
          padding-left: 15px;

          p{padding-bottom: $modal-inner-padding/2;}
        }

        &-title{
          color: $site-clr-text-soft-pri;
          margin: 0;
        }

        &-detail{
          color: $site-clr-blue;
        }

        &-date{
          display: block;
          padding-bottom: $modal-inner-padding/2;
        }

        &-read{
          .notifacc-heading::before{
            background-color: $site-clr-text-soft-pri;
          }
        }
      }
    }

    .ps{
      padding-right: 15px;
      margin-top: $modal-inner-padding;

      &__rail-y{
        left: auto;
        right: -3px !important;
      }

      &__thumb-y{
        min-height: 100px;
      }

      &__rail-x{
        display: none;
      }

      .notifacc:first-child{
        margin-top: 0;
      }
    }
  }

}