
.tradingviewbig{
  @include flexbox-flex(1);
  background-color: $site-clr-darkblue-700;
  @include border-radius($var-custom-border-radius);

  .tradingview-widget-container{
    height: 100%;
    @include border-radius($var-custom-border-radius);
    overflow: hidden;

    > div{
      height: 100%;

      div[id*="wrapper"]{
        height: calc(100% + 2px) !important;
        width: calc(100% + 2px) !important;
        @include translate(-1px, -1px);

        > div{
          height: 100% !important;
          width: 100% !important;
        }
      }

    }
  }

}