
%extinputgrouptitle01{
  min-width: 100px;
  text-align: center;
  display: block;
}

%extmdpericon{
  .mdper{
    width: 7px;
    position: relative;
    top: -1px;

    .perline{opacity: 0; fill: $site-clr-text-soft-sec;}
    .perup{opacity: 0; fill: $site-clr-green;}
    .perdown{opacity: 0; fill: $site-clr-red;}
    &-line .perline{opacity: 1;}
    &-up .perup{opacity: 1;}
    &-down .perdown{opacity: 1;}
  }
}