
%extheadertopbtns{
  @include flexbox-display-flex();
  @include flexbox-align-items(center);

  .btn{
    min-width: 105px;
    margin-right: 5px;

    @include BootstrapMaxWidthResponsive(hd){
      min-width: 100px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      min-width: 95px;
    }

    &:last-child{margin-right: 0;}
  }
}

%extheaderandstatsinputgrouptitle01{
  min-width: 100px;
  text-align: center;
  display: block;
}

%extcurrperupdownlineicon{
  .mdper{
    width: 7px;
    min-width: 7px;
    position: relative;
    top: -1px;

    .perline{opacity: 0; fill: $site-clr-text-soft-sec;}
    .perup{opacity: 0; fill: $site-clr-green;}
    .perdown{opacity: 0; fill: $site-clr-red;}
    &-line .perline{opacity: 1;}
    &-up .perup{opacity: 1;}
    &-down .perdown{opacity: 1;}
  }
}