
%extheadertopbtns{
  @include flexbox-display-flex();
  @include flexbox-align-items(center);

  .btn{
    min-width: 105px;
    margin-right: 5px;

    @include BootstrapMaxWidthResponsive(hd){
      min-width: 100px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      min-width: 95px;
    }

    &:last-child{margin-right: 0;}
  }
}

%extheaderandstatsinputgrouptitle01{
  min-width: 115px;
  text-align: center;
  display: block;
  padding-left: $input-padding-x-lg;
  padding-right: $input-padding-x-lg;
}

%extcurrperupdownlineicon{
  .mdper{
    width: 7px;
    min-width: 7px;
    position: relative;
    top: -1px;

    .perline{opacity: 0; fill: $site-clr-text-soft-sec;}
    .perup{opacity: 0; fill: $site-clr-green;}
    .perdown{opacity: 0; fill: $site-clr-red;}
    &-line .perline{opacity: 1;}
    &-up .perup{opacity: 1;}
    &-down .perdown{opacity: 1;}
  }
}

%extcontullistdotted{
  ul{
    li{
      position: relative;
      padding-left: 10px;

      &::before{
        content: "";
        background-color: $site-clr-text-soft-sec;
        width: 4px;
        height: 4px;
        position: absolute;
        left: 0;
        top: 7px;
        @include border-radius(50%);
      }
    }
  }
}