
.mainbox-marketdata{

  .marketdata{
    @include flexbox-display-flex();
    @include flexbox-flex-flow(column);
    height: 100%;

    &-tabs{

      .tab-content{
        @include flexbox-flex(1);
        padding-left: 10px;
        padding-right: 10px;

        .tabcont-head{
          color: $site-clr-white;
          padding-bottom: 10px;
        }
      }

    }

    .sitetablediv{
      .tbl-thead .tbl-th{padding-top: 0;}
      .scrollbar-tbl-tb{
        height: 280px;
        min-height: 240px;

        > .ps__rail-y .ps__thumb-y{min-height: 20px;}
      }
    }
  }

}