
.maincont{
  background-color: $site-clr-darkblue-700;
  @include border-radius($var-custom-border-radius);

  .modal{
    z-index: $zindex-modal + 10;
  }

  .urllink{
    color: $site-clr-blue;
    @include transition-multiple(color 0.15s ease-in-out);

    &:hover{
      color: $site-clr-white;
    }
  }

  &-box{
    @include flexbox-display-flex();
    @include flexbox-flex-flow(column);
    height: 100%;

    &-title{
      background-color: $site-clr-darkblue-500;
      border-bottom: 1px solid $site-brdr-dark;
      text-align: center;
      padding: $grid-gutter-width*2 $grid-gutter-width*3;
      @include border-radii($var-custom-border-radius-sm,$var-custom-border-radius-sm,0,0);

      h1,h2,h3,h4,h5,h6{
        color: $site-clr-white;
        @include responsive-font-size($var-custom-font-size-base);
        font-weight: $var-custom-font-weight-normal;
        margin: 0;
      }
    }

    &-cont{
      @include flexbox-flex(1);
      @include flexbox-display-flex();
      @include flexbox-flex-flow(column);
      @include flexbox-align-items(center);
      height: 100%;
      padding: $grid-gutter-width*4;
    }
  }

  .mcontbox{
    width: 100%;
    background-color: $site-clr-darkblue-700;
    border: 1px solid $site-brdr-dark;
    @include border-radius($var-custom-border-radius);

    &-title{
      background-color: $site-clr-darkblue-500;
      border-bottom: 1px solid $site-brdr-dark;
      padding: $grid-gutter-width*2 $grid-gutter-width*3;
      @include border-radii($var-custom-border-radius-sm,$var-custom-border-radius-sm,0,0);

      h1,h2,h3,h4,h5,h6{
        color: $site-clr-white;
        @include responsive-font-size($var-custom-font-size-base);
        font-weight: $var-custom-font-weight-normal;
        margin: 0;
      }
    }

    &-cont{
      padding: $grid-gutter-width*4;
    }

  }

}

