
.maincont-account{

  .accprofile{
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;

    .siteformui{

      .form-row{
        margin-right: -5px;
        margin-left: -5px;

        > .col,
        > [class*="col-"]{
          padding-right: 5px;
          padding-left: 5px;
        }
      }

      .labelfocustop{

        > .form-group{
          margin-top: $form-group-margin-bottom * 2;
        }
      }
    }

    &-info{

      &-avatar{

        .dropzone{
          width: 135px;
          height: 135px;
          min-height: auto;
        }

        + .accprofile-info-form{
          padding-left: 10px !important;
        }

        &.d-none + .accprofile-info-form{
          padding-left: 5px !important;
        }
      }

      &-form{}
    }

    &-conf{
      padding-top: 1rem;

      .col-auto{
        min-width: 120px;
      }
    }

    &-addr{
      padding-top: 0.75rem;
      margin-top: 0.75rem;
      border-top: 1px solid $site-brdr-dark;

      .addrbtmbtn{
        @include flexbox-display-flex();
        @include flexbox-flex-flow(column);
        @include flexbox-align-items(center);
        margin-top: $form-group-margin-bottom;
      }
    }

  }
}

