
.mainbox-openorders{

  .openorders{
    @include flexbox-display-flex();
    @include flexbox-flex-flow(column);
    height: 100%;

    &-tabs{}

    &-tabcontent{
      @include flexbox-flex(1);
      padding: 5px 0;
    }

    &-taborders{

      &-filter{
        @include flexbox-align-items(center);
        padding: 5px 10px;
        position: relative;

        @include placeholder{
          color: $site-clr-text-soft-sec;
        }

        .btn-secondary{
          color: $site-clr-text-soft-sec;

          &:hover,
          &:focus,
          &:not(:disabled):not(.disabled):active,
          &:not(:disabled):not(.disabled).active{
            color: $site-clr-white;
          }
        }

        .custom-checkbox{
          margin-left: 5px;
        }
      }

      &-table{
        padding: 5px 10px;

        .sitetablediv{
          .scrollbartbl-tb{height: 170px;}
          .tbl-thead .tbl-tr{border-top: 1px solid $site-brdr-dark; border-bottom: 1px solid $site-brdr-dark; margin-bottom: 7px;}
          .tbl-thead .tbl-th{color: $site-clr-text-soft-sec; padding-top: 5px; padding-bottom: 7px;}
          .tbl-tbody .tbl-td{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
          .symb[class*="tbl"]{width: 55px;}
          .date[class*="tbl"]{width: 105px;}
          .type[class*="tbl"]{}
          .pric[class*="tbl"]{}
          .amnt[class*="tbl"]{}
          .hppn[class*="tbl"]{}
          .bttn[class*="tbl"]{
            width: 50px;
            text-align: center;

            > a{margin: 0 2px;}
          }
        }
      }

    }

    &-tabhistory{}

    &-tabassets{}

    &-tabdandw{}

    &-tabactivities{}

  }

}

