.idea/
node_modules/
package-lock.json

assets/dist/css/custom-app.css.map
assets/dist/js/custom-app.js.map

assets/vendor/owl.carousel/dist/README.md
assets/vendor/owl.carousel/dist/assets/
assets/vendor/owl.carousel/docs/
assets/vendor/owl.carousel/docs_src/
assets/vendor/owl.carousel/src/
assets/vendor/owl.carousel/test/
assets/vendor/owl.carousel/_config.json
assets/vendor/owl.carousel/bower.json
assets/vendor/owl.carousel/CONTRIBUTING.md
assets/vendor/owl.carousel/Gruntfile.js
assets/vendor/owl.carousel/ISSUE_TEMPLATE.md
assets/vendor/owl.carousel/package.json
assets/vendor/owl.carousel/README.md
assets/vendor/owl.carousel/ROADMAP.md