
html{height: 100%;}
body, #root{
  @include flexbox-display-flex();
  @include flexbox-flex-flow(column);
  min-width: 1360px;
  height: 100%;

  @include windowfsfullscreen{}

  @include windowfsbackdrop{}

}

.textoverflowellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.opacity-0{opacity: 0;}
.opacity-1{opacity: 1;}

.usernotloginbox{
  @include flexbox-display-flex();
  @include flexbox-flex-flow(column);
  @include flexbox-justify-content(space-between);
  @include responsive-font-size($font-size-base);
  height: 100%;

  &-content{
    @include flexbox-display-flex();
    @include flexbox-flex-flow(column);
    @include flexbox-align-items(center);
    @include flexbox-justify-content(center);
    @include flexbox-flex(1);
    text-align: center;

    i.icon-sprtlgclrd{
      margin: 0 auto 0.5rem;
      display: block;
    }

    h1,h2,h3,h4,h5,h6{
      color: $site-clr-white;
      @include responsive-font-size($font-size-base);
      font-weight: $font-weight-normal;
      margin: 0;
    }

    .contbtn{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      margin-top: 1rem;

      .btn{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        max-width: 100%;
        min-width: 100px;
        margin: 0 5px;
      }
    }

  }
}

.tooltipbox{

  &-head{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    line-height: 1.2;

    &-col{
      @include flexbox-flex(0 0 auto);
      width: auto;
      max-width: 100%;

      h4{color: $site-clr-white;}

      h4, p{
        @include responsive-font-size($font-size-base);
        font-weight: $font-weight-normal;
        margin: 0;
      }

    }
  }

  &-body{
    padding: 10px 0 0;
    margin-top: 7.5px;
    border-top: 1px solid $site-brdr-dark;

    img{
      width: 100%;
      display: block;
      @include border-radius($border-radius-sm);

      + p{
        margin-top: 0.375rem;
      }
    }

    p{
      &:last-child{margin-bottom: 0.375rem;}
    }

    .commissiontable{
      min-width: 320px;

      .tbl-thead .tbl-th{color: $site-clr-text-soft-sec;}
      .txt[class*="tbl"]{width: 100px}
      .spc[class*="tbl"]{width: 2px;}
      .mkr[class*="tbl"],
      .tkr[class*="tbl"]{
        background-color: $site-clr-darkblue-700;
        text-align: center;
      }
    }
  }

  &.popoversm{
    max-width: 250px;
  }

}