
.mainbox-openorders{

  .openorders-dandw{
    .depositandwithdraw{

      > .tab-content{
        margin-top: 5px;
      }

      &-tabs{}

      &-deposit{}

      &-withdraw{}

      .bttminfolist{
        @extend %extcontullistdotted;
      }

      .dandwtab{

        &-wrp{
          @include flexbox-display-flex();
          @include flexbox-flex-wrap(wrap);
          height: 100%;

          &-side{
            @include flexbox-display-flex();
            @include flexbox-flex-flow(column);
            @include flexbox-flex(0 0 auto);
            width: 180px;
            max-width: 100%;
            padding-right: 10px;
            border-right: 1px solid $site-brdr-dark;

            .nav-pills{
              @include flexbox-flex(1);
            }

            .confirmcheckbox{
              .custom-checkbox{
                margin-top: 10px;

                .custom-control-label{
                  line-height: 1;

                  a{color: $site-clr-text-soft-sec;}
                }
              }
            }
          }

          &-cont{
            @include flexbox-flex-basis(0);
            @include flexbox-flex-grow(1);
            max-width: 100%;
            padding-left: 10px;

            .dandwinforesult{
              @include flexbox-justify-content(normal);

              .modal-content{
                @include flexbox-display-flex();
                @include flexbox-flex-flow(column);
                height: 100%;
                max-width: 100%;

                h6{
                  margin-bottom: 0.25rem;
                }

                .contcheckbox{
                  margin-top: $modal-inner-padding;
                }
              }

              .modal-body,
              .modal-footer{
                padding: 0;
              }

              .modal-body{
                @include flexbox-display-flex();
                @include flexbox-flex-flow(column);
                height: 100%;
              }

              .modal-footer{
                @include flexbox-flex(1);
                padding-top: $modal-inner-padding;
              }
            }

            .confirmcheckbox{
              width: 170px;
              position: absolute;
              left: 13px;
              bottom: 18px;

              .custom-checkbox{
                margin: 0;

                .custom-control-label{
                  line-height: 1;

                  .btn{
                    color: $site-clr-white;
                    font-weight: $font-weight-normal;
                    font-size: 100%;
                    padding: 0;
                    margin: 0;
                    line-height: inherit;
                    vertical-align: inherit;
                    border: none;
                  }
                }
              }
            }
          }
        }

        &-form{
          @include flexbox-display-flex();
          @include flexbox-flex-flow(column);
          height: 100%;

          > *[class*="form"],
          > form{
            @include flexbox-display-flex();
            @include flexbox-flex-flow(column);
            height: 100%;

            .formfieldset{
              @include flexbox-flex(1);
            }

            .formbttm{
              .btn{width: 100%;}
            }
          }
        }

        &-bank{

          &-tabs{

            .banksprttablogos{
              background-image: url(#{$path-img-url-icons}/icons_spite_banklogos.svg#{$cache-busting});
              background-repeat: no-repeat;
              background-position: 0 0;
              display: inline-block;
              position: relative;
              height: 20px;
              @include transition-multiple(background-position 0.3s ease-in-out);


              &.logoakbank{
                width: 76px;
                background-position: 0 -20px;
              }

              &.logoziraat{
                width: 94px;
                background-position: -76px -20px;
              }

              &.logoodeabank{
                width: 76px;
                background-position: -170px -20px;
              }

              &.logovakifbank{
                width: 90px;
                background-position: -246px -20px;
              }
            }

            > .nav{
              padding-bottom: 5px;

              .banklogostablink{
                padding: 0;
                margin: 0 5px;

                &:first-child{margin-left: 0;}
                &:last-child{margin-right: 0;}

                &.active .banksprttablogos{
                  background-position-y: 0;
                }
              }
            }

            > .tab-content{}
          }

          .depositbankform{}

          .withdrawbankform{
            .formfieldset{
              .form-control{
                &.totalbalance{
                  @include flexbox-flex(0 0 auto);
                  width: auto;
                  line-height: 1;
                  padding-top: 0.3rem;
                  border-left-width: 0;

                  small{display: block;}
                }
              }
            }
          }
        }

        &-papara{

          .depositpaparaform{}

          .withdrawpaparaform{}

        }

        &-crypto{

          .depositcryptoform{}

          .withdrawcryptoform{}

        }

      }
    }
  }
}

