
.mainbox-marketdata{

  .marketdata-last{
    padding: 5px 10px;

    .mdlasttable{
      padding: 5px 0;

      .sitetablediv{
        .time[class*="tbl"]{text-align: left;}
        .amnt[class*="tbl"],
        .pric[class*="tbl"]{text-align: right;}
      }
    }
  }

}