
.mainbox-marketdata{

  .marketdata-symbol{
    @include flexbox-display-flex();
    @include flexbox-flex-flow(column);
    height: 100%;

    .tabcont-filterbar{
      @include flexbox-align-items(inherit);

      .filterfavico{
        position: relative;
        top: -2px;

        path{
          fill: $site-clr-text-soft-sec;
        }
      }

      .btn-secondary{
        &:hover,
        &:focus,
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active{
          .filterfavico path{
            fill: lighten($site-clr-yellow, 15%);
          }
        }
      }

      .mdsearchinput{
        //background-color: $site-clr-darkblue-700;
        width: 80px;
        padding-right: 20px;
        position: absolute;
        right: 3px;
        z-index: 1;
        @include transition-multiple(width 0.7s cubic-bezier(.77,0,.175,1), color 0.7s cubic-bezier(.77,0,.175,1), border-color 0.7s cubic-bezier(.77,0,.175,1));

        &:focus,
        &:valid{width: 375px; color: $site-clr-white !important; border-color: transparentize($site-clr-blue, 0.25);}
        &:valid{text-transform: uppercase;}

        &:focus ~ .mdsearchicon .svgsearch path{fill: $site-clr-blue;}
        &:focus ~ .mdsearchicon .svgsearch{}
        &:valid ~ .mdsearchicon{
          .svgsearch{display: none;}
          .svgclose{display: block;}
        }
      }

      .mdsearchicon{
        width: 20px;
        height: 100%;
        text-align: center;
        position: absolute;
        right: 3px;
        z-index: 1;

        svg{
          position: relative;
          height: 100%;
        }

        .svgsearch{
          path{
            fill: $site-clr-text-soft-sec;
            @include transition-multiple(fill 0.7s cubic-bezier(.77,0,.175,1));
          }
        }

        .svgclose{
          cursor: pointer;
          display: none;

          path{
            fill: $site-clr-red;
            @include transition-multiple(fill 0.7s cubic-bezier(.77,0,.175,1));
          }
        }
      }

      .mdcloseicon{
        width: 20px;
        height: 100%;
        text-align: center;
        position: absolute;
        right: 3px;
        z-index: 1;
        cursor: pointer;
      }

      .btn-group.col{}
      .btn-group.col-auto{padding-right: 83px;}
    }

    .mdsymboltable{

      .sitetablediv{
        .tbl-tbody .tbl-tr{cursor: pointer;}
        .fav[class*="tbl"]{width: 15px; text-align: center; padding-right: 0;}
        .sym[class*="tbl"]{text-align: left;}
        .buy[class*="tbl"],
        .sll[class*="tbl"],
        .vol[class*="tbl"],
        .chg[class*="tbl"]{text-align: right;}
        .per[class*="tbl"]{width: 15px; text-align: center;}
        //.scrollbar-tbl-tb{height: 450px;}

        .tablefavico{
          background-color: transparent;
          padding: 0;
          line-height: 1;
          display: block;

          svg{
            position: relative;
            top: -1px;
            path{fill: $site-clr-text-soft-sec;}
          }
          &.faved svg path{
            //fill: $site-clr-blue;
            fill: lighten($site-clr-yellow, 15%);
          }
        }
        @extend %extcurrperupdownlineicon;
      }
    }
  }

}