
.mainbox{
  background-color: $site-clr-darkblue-700;
  @include border-radius($border-radius);

  .modal{
    z-index: $zindex-modal + 10;
  }

  .urllink{
    //color: lighten($site-clr-blue, 5%);
    color: $site-clr-blue;
    @include transition-multiple(color 0.15s ease-in-out);

    &:hover{
      color: $site-clr-white;
    }
  }

}