
.mainbox-openorders{

  .openorders-activities{
    padding: 5px 10px;

    .tabcont-head{

      .printiconlink{
        @include flexbox-display-flex();
        @include flexbox-align-items(center);
        color: $site-clr-text-soft-sec;
        @include transition-multiple(all 0.15s ease-in-out);
        padding: 0;
        margin: 0;

        &:hover{
          color: $site-clr-white;
        }

        i[class*="icon"]{
          margin-left: 5px;
        }
      }
    }

    .activities{

      &-tabs{}

      &-pending{

        .activitiespendingtable{
          .sitetablediv.scrollbar-tbl{

            > .scrollbar-tbl-th .tbl-thead{
              border-top-width: 0;

              .tbl-th{
                padding-top: 0;
              }
            }

            > .scrollbar-tbl-tb{
              height: 160px;
            }
          }

          .sitetablediv{
            .nmbr[class*="tbl"]{width: 60px;}
            .date[class*="tbl"]{width: 90px;}
            .type[class*="tbl"]{width: 60px;}
            .mthd[class*="tbl"]{width: 80px;}
            .bank[class*="tbl"]{width: 80px;}
            .amnt[class*="tbl"]{}
            .stts[class*="tbl"]{width: 80px;}
            .bttn[class*="tbl"]{
              width: 22px;
              text-align: right;

              > a, button{
                background-color: transparent;
                padding: 0;
                margin: 0 2px;
                height: 16px;
              }
            }
          }
        }

      }

      &-history{

        .tabcont-filterbar{
          padding-bottom: 5px;
        }

        .activitieshistorytable{
          padding-bottom: 5px;

          .sitetablediv.scrollbar-tbl{

            > .scrollbar-tbl-tb{
              height: 120px !important;
            }
          }

          .sitetablediv{
            .nmbr[class*="tbl"]{width: 60px;}
            .date[class*="tbl"]{width: 85px;}
            .type[class*="tbl"]{width: 60px;}
            .mthd[class*="tbl"]{width: 60px;}
            .bank[class*="tbl"]{width: 60px;}
            .amnt[class*="tbl"]{}
            .txid[class*="tbl"]{width: 120px;}
            .stts[class*="tbl"]{width: 60px;}
          }
        }
      }

    }
  }
}

