
.mainbox-orderbook{

  .orderbook{
    padding: 10px;

    &-head{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      line-height: 1.2;

      &-col{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        max-width: 100%;

        &.buyside{
          text-align: left;
        }
        &.sellside{
          text-align: right;
        }
        &.spreadside{
          @include flexbox-display-flex();
          @include flexbox-flex-wrap(wrap);
          @include flexbox-justify-content(space-around);
          @include flexbox-flex(0 0 auto);
          width: auto;
          max-width: 100%;
          padding: 0 15px;

          .spreadside-lr{}
          .spreadside-df{
            color: $site-clr-white;
            background-color: $site-clr-darkblue-400;
            min-width: 75px;
            padding: 6px;
            margin: 0 7.5px;
            @include border-radius($var-custom-border-radius-sm);
          }

        }

        h4{color: $site-clr-white;}

        h4, p{
          @include responsive-font-size($var-custom-font-size-base);
          font-weight: $var-custom-font-weight-normal;
          margin: 0;
        }

      }
    }

    &-chartbox{
      padding-top: 12px;
      margin-top: 10px;
      border-top: 1px solid $site-brdr-dark;

      > .col{
        padding: 0;

        &.chartbuy{
          div[class*="rectangle"]{
            .orderbookchart .ct-series-a .ct-bar{stroke: $site-clr-green;}
            .orderbookchart svg{@include rotate(180);}
          }
          div[class*="ordertable"],
          div[class*="rectangle"]{padding-right: 10px;}
          .sitetablediv .tbl-tbody .pric[class*="tbl"]{color: $site-clr-green;}
          .sitetablediv .tbl-tbody .tbl-tr::before{background-color: $site-clr-green; left: -4px;}
          .sitetablediv .tbl-tbody .tbl-tr.orderactive::before{opacity: 1;}
        }

        &.chartsell{
          div[class*="rectangle"]{
            .orderbookchart .ct-series-a .ct-bar{stroke: $site-clr-red;}
          }
          div[class*="ordertable"],
          div[class*="rectangle"]{padding-left: 10px;}
          .sitetablediv .tbl-tbody .pric[class*="tbl"]{color: $site-clr-red;}
          .sitetablediv .tbl-tbody .tbl-tr::before{background-color: $site-clr-red; right: -4px;}
          .sitetablediv .tbl-tbody .tbl-tr.orderactive::before{opacity: 1;}
        }

        &::before{
          content: "";
          background-color: $site-brdr-dark;
          width: 1px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
        }

        &:last-child::before{display: none;}

      }
    }

    &-chartarea{
      position: relative;

      &-rectangle{
        width: 100%;
        height: 100%;
        padding-top: 22px;
        position: absolute;
        top: 0;
        opacity: 0.1;

        .orderbookchart{
          width: 100%;
          height: 100%;

          .ct-bar{
            fill: none;
            stroke-width: 15px;
            shape-rendering: crispedges;
          }
        }

      }

      &-ordertable{
        position: relative;

        .sitetablediv{

          .tbl-tbody{
            min-height: 192px;
          }

          .tbl-thead .tbl-th{color: $site-clr-text-soft-sec; padding-top: 0;}
          .tbl-tbody .tbl-td{padding-top: 2px; padding-bottom: 2px;}
          .tbl-tbody .tbl-tr{
            position: relative;

            &::before{
              content: "";
              background-color: transparent;
              width: 4px;
              height: 4px;
              opacity: 0;
              position: absolute;
              top: calc(50% + 1px);
              @include translateY(-50%);
              @include border-radius(6px);
              @include transition-multiple(opacity 0.15s ease-in-out);
            }
          }
          .tbl-thead .tbl-th,
          .tbl-tbody .tbl-td{
            text-align: center;

            &:first-child{text-align: left;}
            &:last-child{text-align: right;}
          }

          .totl[class*="tbl"]{}
          .amnt[class*="tbl"]{}
          .pric[class*="tbl"]{}
        }

      }

    }

  }

}