
.mainbox-cryptocoinbar{

  .cryptocoinbar{

    &.siteformui{
      .input-group{
        &-prepend {
          .input-group-text{
            color: $site-clr-white;
            background-color: $site-clr-darkblue-500;
            border-right-width: 1px;

            &.selectedcur {
              @extend %extheaderandstatsinputgrouptitle01;
              padding-top: 11px;
            }
          }
        }
        &-append{
          .input-group-text{
            &.alarmbtn{
              background-color: transparent;
              padding: 5px 6px 5px 0;
            }
          }
        }
      }
    }

    .cryptostatsbar{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      @include flexbox-flex(1 1 auto);
      width: 1%;
      min-width: 0;
      padding: 0 $input-btn-padding-x-lg;
      border-top: 1px solid $site-brdr-dark;
      border-bottom: 1px solid $site-brdr-dark;
      position: relative;

      @include BootstrapMaxWidthResponsive(hd){
        padding: 0 $input-btn-padding-x-sm;
      }

      &-biger{
        @include flexbox-display-flex();
        @include responsive-font-size($font-size-lg);
        line-height: $input-btn-line-height;
        padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;

        &:first-child{padding-left: 0;}

        @extend %extcurrperupdownlineicon;

        .mdper{
          display: block;
          margin-right: 3px;
          top: 1px;
        }

      }

      &-stats{

        .bigstatslist{
          @include flexbox-display-flex();
          @include responsive-font-size($font-size-base);
          line-height: 1.1;

          li{
            @include flexbox-flex(0 0 auto);
            width: auto;
            max-width: 100%;
            padding: calc(#{$input-btn-padding-y-lg} - 2px) $input-btn-padding-x-lg;

            @include BootstrapMaxWidthResponsive(hd){
              padding-left: $input-btn-padding-x-sm;
              padding-right: $input-btn-padding-x-sm;
            }

            &:first-child{padding-left: 0;}
            &:last-child{padding-right: 0;}
          }

          h6, p{
            @include responsive-font-size($font-size-base);
            font-weight: $font-weight-normal;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          p{
            color: $site-clr-white;
          }

        }
      }
    }

  }

}


