
.modalcomp{

  &-setalarm{
    @include flexbox-display-flex();
    @include flexbox-flex-flow(column);
    height: 100%;

    &-data{

      .databigger{
        @include flexbox-display-flex();
        @include flexbox-justify-content(center);
        @include responsive-font-size($font-size-lg * 1.33);
        line-height: $input-btn-line-height-lg;
        //padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
        padding-right: 15px;

        @extend %extcurrperupdownlineicon;

        .mdper{
          display: block;
          margin-right: 5px;
          top: 1px;
          @include scale(1.5);
        }
      }

      .datasmall{
        color: $site-clr-white;
        @include responsive-font-size($font-size-base * 1.2);
        margin-top: 2px;
        text-align: center;

        > *{
          margin: 0 2px;
        }
      }

    }

    &-form{
      margin-top: 10px;

      .setalarmspinner{}

      .setalarmrange{
        margin-top: 35px;
        position: relative;

        &:hover{
          .setalarmrange-bubble{
            opacity: 1;
          }
        }

        &-range{
          position: relative;
          z-index: 1;

          &.form-control-range{
            display: unset;
          }

          &::-webkit-slider-thumb,
          &::-moz-range-thumb,
          &::-ms-thumb{
            //background-color: $site-clr-darkblue-400;
            background-color: transparent;
            @include transition-multiple(background 0.15s ease-in-out);

            &:hover,
            &:focus{
              background: $site-clr-blue;
            }
          }

          &::-webkit-slider-thumb{
            background-image: none;
            background-color: $site-clr-darkblue-600;
            border: 2px solid $site-clr-blue;
            @include transition-multiple(background 0.15s ease-in-out);

            &:active {
              background-color: $site-clr-blue;
            }
          }

          &::-webkit-slider-runnable-track{
            //background-color: $site-clr-darkblue-400;
            background-color: transparent;
          }

          &:hover::-webkit-slider-thumb{
            //box-shadow: 0 0 0 3px $site-clr-white, 0 0 0 6px $site-clr-blue;
            @include transition-multiple(all 0.15s ease-in-out);
          }

          &.valnegative{
            &::-webkit-slider-thumb,
            &::-moz-range-thumb,
            &::-ms-thumb{
              &:hover,
              &:focus{
                background: $site-clr-red !important;
              }
            }
            &::-webkit-slider-thumb{
              border: 2px solid $site-clr-red !important;

              &:active {
                background-color: $site-clr-red !important;
              }
            }
          }

          &.valpositive{
            &::-webkit-slider-thumb,
            &::-moz-range-thumb,
            &::-ms-thumb{
              &:hover,
              &:focus{
                background: $site-clr-green !important;;
              }
            }
            &::-webkit-slider-thumb{
              border: 2px solid $site-clr-green !important;

              &:active {
                background-color: $site-clr-green !important;
              }
            }
          }

        }

        &-bubble{
          background-color: $site-clr-blue;
          color: $site-clr-white;
          @include responsive-font-size($font-size-base);
          font-weight: $var-custom-font-weight-bold;
          padding: 1px 8px 2px;
          opacity: 1;
          position: absolute;
          top: calc(-#{$custom-range-thumb-width} * 2);
          left: 50%;
          @include translateX(-50%);
          @include border-radius($border-radius-sm);

          &::after {
            content: "";
            background-color: $site-clr-blue;
            width: 6px;
            height: 6px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            @include transform-multiple(translateX(-50%) rotate(45deg));
          }

          &.valnegative{
            background-color: $site-clr-red !important;

            &::after {background-color: $site-clr-red !important;}
          }

          &.valpositive{
            background-color: $site-clr-green !important;

            &::after {background-color: $site-clr-green !important;}
          }
        }

        &-progress{
          @include flexbox-display-flex();
          justify-content: space-between;
          width: 100%;
          position: absolute;
          top: calc(#{$custom-range-thumb-width} / 2);

          &.valnegative{}

          &.valpositive{}

          .progress{
            @include flexbox-flex-basis(0);
            @include flexbox-flex-grow(1);
            width: 100%;
            max-width: 100%;
            background-color: $site-clr-darkblue-400;
            height: $custom-range-track-height;

            .progress-bar{
              @include transition-multiple(none);
            }

            &.barnegative{
              @include rotate(180);

              .progress-bar{
                background-color: $site-clr-red;
              }
            }

            &.barpositive{
              @include rotate(0);

              .progress-bar{
                background-color: $site-clr-green;
              }
            }
          }
        }

        &-perc{
          @include flexbox-display-flex();
          @include flexbox-align-items(center);
          @include flexbox-justify-content(space-between);
          width: 100%;
          position: absolute;
          top: calc(-#{$custom-range-thumb-width} * 1.75);
        }

        &-circle{
          @include flexbox-display-flex();
          @include flexbox-align-items(center);
          @include flexbox-justify-content(space-between);
          width: 100%;
          height: $custom-range-track-height;
          position: absolute;
          top: calc(#{$custom-range-thumb-width} / 2);

          > span{
            @include flexbox-flex(0 0 auto);
            width: $custom-range-thumb-width / 1.5;
            height: $custom-range-thumb-height / 1.5;
            max-width: 100%;
            background-color: $site-clr-darkblue-400;
            @include border-radius($custom-range-thumb-border-radius);
          }

          &.percstepa00{
            span.val-0{background-color: $site-clr-green;}
          }
          &.percstepa25{
            span.val-0, span.val-25{background-color: $site-clr-green;}
          }
          &.percstepa50{
            span.val-0, span.val-25, span.val-50{background-color: $site-clr-green;}
          }
          &.percstepa75{
            span.val-0, span.val-25, span.val-50, span.val-75{background-color: $site-clr-green;}
          }
          &.percstepa100{
            span.val-0, span.val-25, span.val-50, span.val-75, span.val-100{background-color: $site-clr-green;}
          }

          &.percstepp00{
            span.val-0{background-color: $site-clr-red;}
          }
          &.percstepp25{
            span.val-0, span.val--25{background-color: $site-clr-red;}
          }
          &.percstepp50{
            span.val-0, span.val--25, span.val--50{background-color: $site-clr-red;}
          }
          &.percstepp75{
            span.val-0, span.val--25, span.val--50, span.val--75{background-color: $site-clr-red;}
          }
          &.percstepp100{
            span.val-0, span.val--25, span.val--50, span.val--75, span.val--100{background-color: $site-clr-red;}
          }


        }

        // Firefox Fixed
        ::-moz-range-track {
          background: transparent;
          border: 0;
        }

        // Firefox Fixed
        input::-moz-focus-inner,
        input::-moz-focus-outer{
          border: 0;
        }
      }

      .setalarmbtn{
        margin-top: 20px;
      }
    }

    &-table{
      @include flexbox-display-flex();
      @include flexbox-flex-flow(column);
      @include flexbox-flex(1);
      height: 100%;
      margin-top: 15px;

      .headsmtitle{
        border-bottom: 1px solid $site-brdr-dark;
      }

      .setalarmtable{
        @include flexbox-flex(1);

        .sitetablediv{

          .scrollbar-tbl-th .tbl-thead .tbl-th{color: $site-clr-text-soft-sec;}
          .scrollbar-tbl-tb{height: 450px;}
          .symb[class*="tbl"]{width: 80px; text-align: left;}
          .amnt[class*="tbl"]{text-align: right;}
          .adlt[class*="tbl"]{
            width: 80px;
            text-align: right;

            > a, button{
              background-color: transparent;
              padding: 0;
              //margin: 0 2px;
              margin: 0;
              height: 14px;
            }
          }

          @extend %extcurrperupdownlineicon;

          .mdper{
            margin-left: 3px;
          }
        }
      }

      .deletealarmbtn{
        margin-top: 20px;
      }
    }

  }

}