
.modalcomp{

  .headsmtitle{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    line-height: 1.2;
    padding-bottom: 5px;

    &-col{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      @include flexbox-flex(0 0 auto);
      width: auto;
      max-width: 100%;
    }

    h6{color: $site-clr-white;}

    h6, p{
      @include responsive-font-size($font-size-base);
    }

    .text-muted{
      padding: 0;
      margin-bottom: $headings-margin-bottom;
      border: none;
    }
  }

  .footbtns{
    padding-top: 5px;
  }

  .accbuild{

    &-item{
      margin: $modal-inner-padding*0.9 0 0;
      padding-bottom: $modal-inner-padding/2;
      border-bottom: 1px solid $site-brdr-dark;

      &:first-child{margin-top: 0;}
      &:last-child{margin-bottom: 0;}
    }

    &-heading{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      //@include flexbox-align-items(center);
      @include flexbox-justify-content(space-between);
      padding-bottom: $modal-inner-padding/2;

      > *[class*="title"]{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        max-width: 100%;
        @include transition-multiple(color 0.3s ease-in-out);
      }

      > *[class*="detail"]{
        @include flexbox-flex(0 0 auto);
        width: auto;
        max-width: 100%;
      }

      &[data-toggle="collapse"]{

        .accbuild-detail{
          padding-left: 20px;
          padding-right: 10px;
          position: relative;

          &::after{
            content: "";
            width: 6px;
            height: 6px;
            border-right: 1px solid $site-clr-blue;
            border-bottom: 1px solid $site-clr-blue;
            position: absolute;
            right: 0;
            top: 5px;
            @include rotate(45);
            @include transition-multiple(transform 0.3s ease-in-out, top 0.3s ease-in-out);
          }
        }

        .accbuild-topdesc{
          display: block;
        }
      }

      &[aria-expanded="true"]{

        .accbuild-title{
          color: $site-clr-white;
        }

        .accbuild-detail{
          &::after{
            top: 8px;
            @include rotate(225);
          }
        }

        .accbuild-topdesc{
          //display: none;
          height: 0;
          padding-top: 0;
          opacity: 0;
        }
      }
    }

    &-collapse{
      p{padding-bottom: $modal-inner-padding/2;}
    }

    &-title{
      color: $site-clr-text-soft-pri;
      margin: 0;
      display: block;
      //white-space: nowrap;
      //text-overflow: ellipsis;
      //overflow: hidden;
    }

    &-detail{
      color: lighten($site-clr-blue, 5%);
    }

    &-topdesc{
      color: $site-clr-text-soft-sec;
      width: 100%;
      height: 35px;
      display: block;
      padding-top: $modal-inner-padding/4;
      overflow: hidden;
      opacity: 1;
      @include transition-multiple(height 0.3s ease-in-out, padding 0.3s ease-in-out, opacity 0.3s ease-in-out);
    }

    &-topdate{
      color: $site-clr-text-soft-sec;
      width: 100%;
      display: block;
      padding-top: $modal-inner-padding/4;
    }

    &-btmdate{
      color: $site-clr-text-soft-sec;
      width: 100%;
      display: block;
      padding-bottom: $modal-inner-padding/2;
    }
  }

  .collapseacc{

    &-item{
      background-color: $site-clr-darkblue-600;
      margin: $modal-inner-padding*0.7 0 0;
      //padding-bottom: $modal-inner-padding/2;
      border: 1px solid $site-brdr-dark;
      @include border-radius($border-radius-sm);

      &:first-child{margin-top: 0;}
      &:last-child{margin-bottom: 0;}

      .heading{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);
        @include flexbox-justify-content(space-between);
        width: 100%;
        padding: $modal-inner-padding/1.5 $modal-inner-padding;
        text-align: left;
        line-height: $line-height-base;

        &-title{
          @include flexbox-flex-basis(0);
          @include flexbox-flex-grow(1);
          max-width: 100%;
          color: $site-clr-text-soft-pri;
          margin: 0;
          display: block;
          //padding-left: $modal-inner-padding/1.5;
          @include transition-multiple(color 0.3s ease-in-out);
        }

        &-detail{
          color: lighten($site-clr-blue, 5%);
          @include flexbox-flex(0 0 auto);
          width: auto;
          max-width: 100%;
          position: relative;
        }

        &[data-toggle="collapse"] .heading-detail{
          > i[class*="arrow"]{
            @include rotate(90);
            @include transition-multiple(transform 0.3s ease-in-out, top 0.3s ease-in-out);
          }
        }

        &[aria-expanded="true"]{
          .heading-title{color: $site-clr-white;}
          .heading-detail > i[class*="arrow"]{@include rotate(-90);}
        }
      }

      .collapse{
        &-content{
          //padding: 0 $modal-inner-padding*1.5;
        }

        &-foot{
          @include flexbox-display-flex();
          @include flexbox-flex-wrap(wrap);
          @include flexbox-justify-content(space-between);
          @include flexbox-align-items(center);
          color: $site-clr-text-soft-sec;
          width: 100%;
          //padding: $modal-inner-padding/1.5 $modal-inner-padding*1.5 $modal-inner-padding;

          .footdate{
            @include flexbox-flex-basis(0);
            @include flexbox-flex-grow(1);
            max-width: 100%;
          }

          .footbtn{
            color: $site-clr-white;
            @include flexbox-flex(0 0 auto);
            width: auto;
            max-width: 100%;
            padding: 0;
            margin: 0;
            font-weight: $font-weight-normal;
          }
        }
      }
    }
  }

  &-psright{
    .ps{
      padding-right: 10px;

      &__rail-y{
        left: auto;
        right: -3px !important;
      }

      &__thumb-y{
        min-height: 100px;
      }

      &__rail-x{
        display: none;
      }

      .notifacc:first-child{
        margin-top: 0;
      }
    }
  }

}