
.modalcomp{

  &-sign{

    &-icon{
      margin: 5px 0 15px;

      i[class*="icon"]{
        background-color: $site-clr-darkblue-600;
        margin: 0 auto;
        display: block;
        @include border-radius(50%);
      }
    }

    &-form{

      .recaptcha{
        @include flexbox-display-flex();
        @include flexbox-align-items(center);
        @include flexbox-justify-content(space-between);
        margin: $form-group-margin-bottom*2 0;

        .btn-link{
          color: $input-color;
          padding: 0;
          margin: 0;
        }
      }

      .checkboxarea{
        margin: $form-group-margin-bottom*1.5 0;
      }

      .form-group{
        .showhidepass{
          @include flexbox-display-flex();
          @include flexbox-align-items(center);
          @include flexbox-justify-content(center);
          color: $site-clr-white;
          background-color: transparent;
          height: 100%;
          position: absolute;
          top: 0;
          right: 5px;
          border: 0;
        }
      }

      + .comp-sign-form{
        margin-top: 25px;
      }
    }

  }

}