/* Site General Color Settings */
$site-clr-white:                #FFFFFF;
$site-clr-black:                #000000;
$site-clr-blue:                 #388CFF;
$site-clr-cyan:                 #17A2B8;
$site-clr-green:                #15B583;
$site-clr-red:                  #FF4052;
$site-clr-orange:               #E67948;
$site-clr-yellow:               #FF8C00;
$site-clr-grylight:             #F1F6FE;
/* Site General Color Settings */

/* Site Currency Color Settings */
$site-clr-curr-try:                     #D50032;
$site-clr-curr-usd:                     #4AA94E;
$site-clr-curr-eur:                     #004777;
$site-clr-curr-btc:                     #F7931A;
$site-clr-curr-eth:                     #637FEA;
$site-clr-curr-ltc:                     #2B95D2;
$site-clr-curr-xrp:                     #1177A8;
$site-clr-curr-mpay:                    #E8094A;
$site-clr-curr-bat:                     #F74E00;
$site-clr-curr-xlm:                     #5D4E4E;
$site-clr-curr-tryb:                    #002EAC;
$site-clr-curr-usdt:                    #2DD976;
$site-clr-curr-link:                    #2A5ADA;
$site-clr-curr-avax:                    #E04040;
$site-clr-curr-algo:                    #757575;
$site-clr-curr-ftm:                     #1969FF;
$site-clr-curr-dot:                     #262626;
/* Site Currency Color Settings */

/* Site Dark Theme Settings */
$site-clr-darkblue-900:                 #0A0C14;
$site-clr-darkblue-800:                 #131B31;
$site-clr-darkblue-700:                 #182239;
$site-clr-darkblue-600:                 #1C263F;
$site-clr-darkblue-500:                 #202C46;
$site-clr-darkblue-400:                 #2A3553;
$site-clr-darkblue-300:                 #404D71;
$site-clr-darkblue-200:                 #687CA2;
$site-clr-darkblue-100:                 #3A70EA;
$site-clr-text-soft-pri:                #B1C4E8;
$site-clr-text-soft-sec:                #92A4C5;
$site-brdr-dark:                        $site-clr-darkblue-400;
$site-brdr-dark-focus:                  lighten($site-brdr-dark, 10%);
$site-brdr-dark-opacity:                lighten($site-brdr-dark, 15%);
$site-brdr-dark-input:                  $site-brdr-dark;
$site-brdr-dark-input-focus:            $site-brdr-dark-focus;
$site-result-dark-error-clr:            $site-clr-red;
$site-result-dark-error-brdr:           #BE374B;
$site-result-dark-error-bg:             #24233A;
$site-result-dark-success-clr:          $site-clr-green;
$site-result-dark-success-brdr:         #168B6E;
$site-result-dark-success-bg:           #18293D;
$site-result-dark-warning-clr:          $site-clr-orange;
$site-result-dark-warning-brdr:         #B66545;
$site-result-dark-warning-bg:           #24273A;
/* Site Dark Theme Settings */

/* Site Border Color Settings */
$site-brdr-light:                       #e0e5ec;
$site-brdr-light-focus:                 darken($site-brdr-light, 15%);
$site-brdr-light-opacity:               #F2F5F9;
$site-brdr-light-input:                 $site-brdr-light;
$site-brdr-light-input-focus:           $site-brdr-light-focus;
/* Site Border Color Settings */

/* Site Main Settings */
$site-font-family-default:              'Barlow Semi Condensed', sans-serif;
$site-clr-text-dark-pri:                #333E63;
$site-clr-text-dark-sec:                #5C6582;
/* Site Main Color Settings */

/* Site Main Path Settings */
$cache-busting:           #{'?v='}(unique_id());
$path-assets-url:         "../../../assets" !default;
$path-fonts-url:          "#{$path-assets-url}/fonts" !default;
$path-img-url:            "#{$path-assets-url}/images" !default;
$path-img-url-icons:      "#{$path-img-url}/icons" !default;
/* Site Main Path Settings */

/* Site Main Class Settings */
$themedarkclassname:      "html.themedark";
$themelightclassname:     "html.themelight";
/* Site Main Class Settings */

/* General Booststrap Site and Button Color Settings */
$global-clr-white:              $site-clr-white;
$global-clr-gray-100:           #f8f9fa;
$global-clr-gray-200:           #e9ecef;
$global-clr-gray-300:           #dee2e6;
$global-clr-gray-400:           #ced4da;
$global-clr-gray-500:           #adb5bd;
$global-clr-gray-600:           #6c757d;
$global-clr-gray-700:           #495057;
$global-clr-gray-800:           #343a40;
$global-clr-gray-900:           #212529;
$global-clr-black:              $site-clr-black;
$global-clr-secondary:          $site-clr-darkblue-600;
$global-clr-blue:               #007bff;
$global-clr-indigo:             #6610f2;
$global-clr-purple:             #6f42c1;
$global-clr-pink:               #e83e8c;
$global-clr-red:                $site-clr-red;
$global-clr-orange:             $site-clr-orange;
$global-clr-yellow:             #ffc107;
$global-clr-green:              $site-clr-green;
$global-clr-teal:               #20c997;
$global-clr-cyan:               #17a2b8;
$global-btn-primary:            $global-clr-blue;
$global-btn-secondary:          $global-clr-secondary;
$global-btn-success:            $global-clr-green;
$global-btn-info:               $site-clr-cyan;
$global-btn-warning:            $global-clr-orange;
$global-btn-danger:             $global-clr-red;
$global-btn-light:              $global-clr-gray-100;
$global-btn-dark:               $global-clr-gray-800;
$global-link-color:             $site-clr-text-dark-pri;
$global-table-border-color:     $site-clr-grylight;
/* General Booststrap Site and Button Color Settings */