
/* Form UI Soft */
.siteformui{

  form{}

  .autofill{
    &.disabled,
    &:disabled,
    &[readonly] {
      color: $site-clr-text-dark-pri;
      background-color: transparent;
      border-color: $site-brdr-light-input;
    }
  }

  @include placeholder{
    //color: transparentize($site-clr-text-dark-pri, 0.50);
    //opacity: 1;
  }

  @include webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px $site-clr-white inset !important;
    -webkit-text-fill-color: $site-clr-text-dark-pri !important;
    border-color: $site-brdr-light !important;
  }

  label{
    color: $site-clr-text-dark-pri;
    font-weight: $var-custom-font-weight-bold;
  }

  #{$formclassname}-group{
    @include BootstrapMaxWidthResponsive(hd){
      margin-bottom: 0.75rem;
    }
  }

  #{$formclassname}-control{
    color: $site-clr-text-dark-sec;
    background-clip: inherit;

    &[rows]{min-height: 100px;}
  }

  select#{$formclassname}-control:not(.custom-select){
    height: 40px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  select#{$formclassname}-control-sm:not(.custom-select){
    height: 34px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  select#{$formclassname}-control-lg:not(.custom-select){
    height: 46px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  #{$formcustomclassname}{

    &-select{
      &:focus{}
    }

    &-control{
      &-label{
        font-weight: $var-custom-font-weight-normal;

        &::before{}
        &::before,
        &::after{}
      }

      &-input{
        &:checked{
          ~ #{$formcustomclassname}-control-label{
            &::after{}
          }
        }
      }

      &-group{
        &-vertical{
          #{$formcustomclassname}-control{}
        }
        &-horizontal{}
      }
    }

    &-checkbox{
      #{$formcustomclassname}-control-input{
        &:checked{
          ~ #{$formcustomclassname}-control-label{
            &::after{}
          }
        }
      }
    }

    &-radio{
      #{$formcustomclassname}-control-input{
        &:checked{
          ~ #{$formcustomclassname}-control-label{
            &::after{}
          }
        }
      }
    }

  }

  .recaptcha{
    &-area{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
    }

    &-check{
      position:relative;
      width: 1.4rem;
      height: 1.4rem;
      overflow: hidden;
      margin-right: 8px;
      border: 1px solid $site-brdr-light-input;
      @include border-radius(2px);

      .g-recaptcha{
        position:absolute;
        top: -26px;
        left: -36px;
        @include scale(0.85);
      }
    }

    label{
      &::before,
      &::after{display: none;}
    }
  }

  .rangeprogress{
    position: relative;

    &:hover{
      .rangeprogress-bubble{
        opacity: 1;
      }
    }

    &-range{
      position: relative;
      z-index: 1;

      &::-webkit-slider-thumb,
      &::-moz-range-thumb,
      &::-ms-thumb{
        //background-color: $site-clr-darkblue-500;
        background-color: transparent;
        @include transition-multiple(background 0.15s ease-in-out);

        &:hover,
        &:focus{
          background: $site-clr-blue;
        }
      }

      &::-webkit-slider-thumb{
        background-image: none;
        background-color: $site-clr-darkblue-700;
        border: 2px solid $site-clr-blue;
        @include transition-multiple(background 0.15s ease-in-out);

        &:active {
          background-color: $site-clr-blue;
        }
      }

      &::-webkit-slider-runnable-track{
        //background-color: $site-clr-darkblue-500;
        background-color: transparent;
      }

      &:hover::-webkit-slider-thumb{
        //box-shadow: 0 0 0 3px $site-clr-white, 0 0 0 6px $site-clr-blue;
        @include transition-multiple(all 0.15s ease-in-out);
      }
    }

    &-bubble{
      background: $site-clr-blue;
      color: $site-clr-white;
      @include responsive-font-size($var-custom-font-size-base);
      font-weight: $var-custom-font-weight-bold;
      padding: 2px 8px 4px;
      opacity: 0;
      position: absolute;
      top: -30px;
      left: 50%;
      @include translateX(-50%);
      @include border-radius($var-custom-border-radius-sm);

      &::after {
        content: "";
        background-color: $site-clr-blue;
        width: 6px;
        height: 6px;
        position: absolute;
        bottom: -3px;
        left: 50%;
        @include transform-multiple(translateX(-50%) rotate(45deg));
      }
    }

    &-progress{
      background-color: $site-clr-darkblue-500;
      width: 100%;
      height: $bootstrap-custom-range-track-height;
      position: absolute;
      top: calc(#{$bootstrap-custom-range-thumb-width} / 2);

      .progress-bar{
        @include transition-multiple(none);
      }
    }

    &-circle{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      @include flexbox-justify-content(space-between);
      width: 100%;
      height: $bootstrap-custom-range-track-height;
      position: absolute;
      top: calc(#{$bootstrap-custom-range-thumb-width} / 2);

      > span{
        @include flexbox-flex(0 0 auto);
        width: $bootstrap-custom-range-thumb-width;
        height: $bootstrap-custom-range-thumb-height;
        max-width: 100%;
        background-color: $site-clr-darkblue-500;
        @include border-radius($bootstrap-custom-range-thumb-border-radius);
      }
    }

    // Firefox Fixed
    ::-moz-range-track {
      background: transparent;
      border: 0;
    }

    // Firefox Fixed
    input::-moz-focus-inner,
    input::-moz-focus-outer{
      border: 0;
    }

  }

}
/* Form UI Soft */

/* Form UI Dark */
.siteformui.formdark{

  label{
    color: $site-clr-text-soft-sec;
  }

  #{$forminputclassname}-group{

    &-text{
      color: $site-clr-white;
      background-color: $site-clr-darkblue-600;
      border-color: $site-brdr-dark;
    }

  }

  #{$formclassname}-control{
    color: $site-clr-text-soft-sec;
    background-color: $site-clr-darkblue-700;
    border-color: $site-brdr-dark;
  }

  #{$formcustomclassname}-control-label{
    &::before{
      background-color: $site-clr-darkblue-700;
      border-color: $site-brdr-dark;
    }
  }

  #{$formcustomclassname}-switch #{$formcustomclassname}-control-input:checked ~ #{$formcustomclassname}-control-label::after{
    background-color: $site-clr-green;
  }

  #{$formcustomclassname}-select{
    color: $site-clr-text-soft-sec;
    background-color: $site-clr-darkblue-700;
    border-color: $site-brdr-dark;
  }

}
/* Form UI Dark */