
.modal{

  .close,
  .toback{
    color: $site-clr-white;
    width: 22px;
    height: 22px;
    display: block;
    font-size: 1.5rem;
    font-weight: $font-weight-normal;
    line-height: 1;
    background-color: $site-clr-darkblue-700;
    border: 1px solid $site-brdr-dark;
    padding: 0;
    margin: 0;
    opacity: 1;
    text-shadow: none;
    position: absolute;
    @include border-radius(50%);

    span{
      display: block;
      position: relative;
      top: -3px;
    }
  }

  .toback span{
    text-indent: -9999px;

    &::before,
    &::after{
      content: "";
      position: absolute;
    }

    &::before{
      background-color: $site-clr-white;
      width: 10px;
      height: 2px;
      top: calc(50% + 3px);
      left: calc(50% + 1px);
      @include translate(-50%, -50%);
    }

    &::after{
      width: 7px;
      height: 7px;
      border-bottom: 2px solid $site-clr-white;
      border-left: 2px solid $site-clr-white;
      top: calc(50% + 2px);
      left: calc(50% - 6px);
      @include transform-multiple(rotate(45deg) translateY(-50%));
    }
  }

  &-content{}

  &-close{
    margin-bottom: $var-custom-modal-inner-padding;
    position: relative;

    > .close{
      background-color: $site-clr-blue;
      border-color: $site-clr-blue;
      top: -11px;
      left: 50%;
      @include translateX(-50%);

      span{top: -2px;}
    }
  }

  &-header{
    @include flexbox-justify-content(center);
    background-color: $site-clr-darkblue-600;
    position: relative;

    > .close,
    > .toback{
      top: 50%;
      @include translateY(-50%);
    }

    > .close{left: 0.5rem;}
    > .toback{right: 0.5rem;}

    .modal-title{
      color: $site-clr-white;
      @include responsive-font-size($font-size-base);
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      position: relative;

      > .toback{
        position: absolute;
        right: -$modal-header-padding-y*2.5;
        top: -3px;
      }
    }
  }

  &-body{
    @include responsive-font-size($font-size-base);
  }

  &-footer{
    @include flexbox-justify-content(center);
    padding-top: 0;

    .btn{
      min-width: 100px;
    }
  }

  &-confirm{

    i.icon-sprtlgclrd{
      margin: 0 auto 0.5rem;
      display: block;
    }

    .animation-alert-icons{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      @include flexbox-justify-content(center);

      .alert-icons-warning::before{left: 0;}
    }

    h1,h2,h3,h4,h5,h6{
      color: $site-clr-white;
      @include responsive-font-size($font-size-base);
      font-weight: $font-weight-normal;
      margin: 0;
    }

    .dottedlist{
      @extend %extcontullistdotted;
    }

  }

  &-sm{

    .modal-confirm{

      i.icon-sprtlgclrd{}

      .animation-alert-icons{
        @include scale(1.5);
        padding: 15px 0 20px;
      }

    }

  }

  &-rightside{
    padding-right: 0 !important;

    &.fade{

      .modal-dialog.modal-sm{
        @include translate($var-custom-modal-sm, 0);
      }

    }

    .modal-header,
    .modal-footer{
      //@include border-radius(0);
    }

    .modal-dialog{
      height: calc(100% - 55px);
      margin: 50px 5px 5px auto !important;
    }

    .modal-content{
      height: 100%;
      //@include border-radius(0);
    }
  }

  &-open{}

  &-maincont{

    > div[class*="modal"]{
      margin-left: auto;
      margin-right: auto;
    }

    .modal-content{
      background-color: transparent;
      border: none;
    }

    .modal-body,
    .modal-footer{
      padding: 0;
    }

    .modal-footer{
      padding-top: $modal-inner-padding;
    }

  }

}