$path-assets-url:         "../../../react-app/src/assets" !global;
$path-fonts-url:          "#{$path-assets-url}/fonts" !global;
$path-img-url:            "#{$path-assets-url}/images" !global;
$path-img-url-icons:      "#{$path-img-url}/icons" !global;

// Option
@import "../../../../react-app/src/styles/custom/option/option";

// Helper
@import "../../../../react-app/src/styles/custom/helper/helper";

// Elements
@import "../../../../react-app/src/styles/custom/elements/elements";

// Component
@import "../../../../react-app/src/styles/custom/component/component";

// Backbone
@import "../../../../react-app/src/styles/custom/backbone/backbone";

// Form UI Kit
@import "../../../../react-app/src/styles/custom/form/form";

// Page
@import "../../../../react-app/src/styles/custom/page/page";