
.header{

  &-left{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    @include headerleftandbodyleftsidewidth(3px);

    &-logo{
      margin: 0 5px;

      .headlogo{
        background-image: url(#{$path-img-url}/header/header_one_logo.svg#{$cache-busting});
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        width: 150px;
        height: 24px;
        display: inline-block;
        text-indent: -9999px;

        @include BootstrapMaxWidthResponsive(hd){
          width: 145px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          width: 140px;
        }
      }
    }

    &-nav{
      @extend %extheadertopbtns;
    }
  }

}