
.header{

  &-center{

    .newstickerbars{

      &-box{
        background-color: transparent;
        text-align: left !important;
        overflow-y: hidden;
        //max-height: 26px;
        padding: 0;
      }

      &-item{
        color: $site-clr-text-soft-sec;
        //height: 26px;
        padding: 0.2rem 0.6rem;
        display: block;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.sliding-now{
          @include animation-multi(newsTickerItemuUp 1s linear infinite forwards);
          @include animation-delay(4s);
        }

        @keyframes newsTickerItemuUp {
          from {transform: translateY(0);}
          to {transform: translateY(-26px);}
        }
      }

      &.siteformui{
        .form-control{border-right-width: 0;}

        .input-group{

          &-prepend{
            .input-group-text{
              color: $site-clr-white;
              background-color: $site-clr-darkblue-500;
              border-right-width: 2px;

              &.newslefttxt{
                @extend %extheaderandstatsinputgrouptitle01;
              }
            }
          }

          &-append{
            .input-group-text{
              color: $site-clr-white;

              &.newsallbtn{}
            }
          }
        }
      }
    }
  }

}