
/* Components Variables Settings */
$navmenu-mainclass:                     ".daphne";
$navmenu-clr:                           $site-clr-text-dark-pri;
$navmenu-clrhover:                      $site-clr-cyan;
$navmenu-headfontsize:                  1.08rem;
$navmenu-headlineheight:                1;
$navmenu-headfontweight:                $font-weight-bold;
$navmenu-headborderclr:                 transparent;
$navmenu-headbgclr:                     transparent;

$navsubmenu-headclr:                    $site-clr-cyan;
$navsubmenu-headfontsize:               0.9rem;
$navsubmenu-headfontweight:             $font-weight-bold;
$navsubmenu-navlinktxtclr:              $site-clr-text-dark-pri;
$navsubmenu-navlinkbgclr:               lighten($site-clr-grylight, 1%);
$navsubmenu-navlinktxtclrhover:         $site-clr-white;
$navsubmenu-navlinkbgclrhover:          $site-clr-cyan;
/* Components Variables Settings */

/* Components Variables Settings */
$navmenu-resp-width:                    "lg";
$navmenu-resp-navbg:                    $site-clr-white;
$navmenu-resp-navwidth:                 260px;
$navmenu-resp-transition:               0.7s cubic-bezier(.77,0,.175,1);
/* Components Variables Settings */

#{$navmenu-mainclass}{

  &-navbody{
    position: relative;
    @include transition-multiple(transform $navmenu-resp-transition);

    &::after{
      content: "";
      background-color: transparent;
      position: absolute;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      @include transition-multiple(background 0.3s cubic-bezier(.77,0,.175,1), opacity 0.3s cubic-bezier(.77,0,.175,1), height 0.15s cubic-bezier(.77,0,.175,1));
    }

    &#{$navmenu-mainclass}-moverlay{
      @include BootstrapMaxWidthResponsive($navmenu-resp-width){
        &::after{
          background-color: transparentize($site-clr-white, 0.1);
          height: 100%;
          z-index: 2;
          opacity: 1;
        }
      }
    }
    &#{$navmenu-mainclass}-doverlay{
      @include BootstrapMinWidthResponsive($navmenu-resp-width){
        &::after{
          background-color: transparentize($site-clr-white, 0.05);
          height: 100%;
          z-index: 2;
          opacity: 1;
        }
      }
    }
  }

  &-navbar{
    background-color: $navmenu-headbgclr;
    color: $navmenu-clr;
    @include responsive-font-size($navmenu-headfontsize);
    font-weight: $navmenu-headfontweight;
    line-height: $navmenu-headlineheight;
    padding: 0;
    border-top: 1px solid transparentize($navmenu-headborderclr, 0.5);
    border-bottom: 1px solid transparentize($navmenu-headborderclr, 0.5);

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){
      background-color: $navmenu-resp-navbg;
      width: #{$navmenu-resp-navwidth};
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      border: none;
      overflow-y: auto;
      z-index: 103;
      @include box-shadow(0 0 0 0 #e3e9f2);
      @include translateX(-#{$navmenu-resp-navwidth});
      @include border-radius(0);
      @include transition-multiple(transform $navmenu-resp-transition, box-shadow $navmenu-resp-transition);
    }

    &.navbar-expand-md{
      .nav-link{
        padding-right: 0.5rem;
        padding-left: 0.5rem;

        @include BootstrapMaxWidthResponsive(hd){
          padding-right: 0.3rem;
          padding-left: 0.3rem;
        }
      }
    }
  }

  &-nav{

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){
      @include flexbox-flex-direction(column !important);
    }

    .nav{

      &-item{

        @include BootstrapMaxWidthResponsive($navmenu-resp-width){
          border-bottom: 1px solid #D9E7FC;

          &:last-child{
            border-bottom-width: 0;
          }
        }

        &.dropdown.show{
          background-color: transparentize($navmenu-headbgclr, 0.8);
        }
      }

      &-link{
        color: $navmenu-clr;
        padding: 10px 10px 2px;
        white-space: nowrap;
        @include transition-multiple(color 0.15s ease-in-out);

        @include BootstrapMaxWidthResponsive($navmenu-resp-width){
          //color: $site-clr-white;
          padding: 12px 15px !important;
        }

        &:hover,
        &[aria-expanded="true"]{
          color: $navmenu-clrhover;

          @include BootstrapMaxWidthResponsive($navmenu-resp-width){
            //color: $site-clr-white;
          }
        }

        &[data-toggle="dropdown"]{
          @include BootstrapMaxWidthResponsive($navmenu-resp-width){
            position: relative;

            &::after{
              content: "";
              width: 8px;
              height: 8px;
              border-right: 2px solid #d9e7fc;
              border-bottom: 2px solid #d9e7fc;
              position: absolute;
              right: 15px;
              top: 50%;
              @include transform-multiple(translateY(-50%) rotate(45deg));
            }
          }
        }
      }

    }

    .dropdown{

      &-menu{
        min-width: max-content;
        margin: 0;
        padding: 0;
        border: none;
        left: -5px;

        @include BootstrapMaxWidthResponsive($navmenu-resp-width){
          position: relative !important;
          left: 0;
        }
      }
    }

    &-dropdownmenu{
      background-color: transparent;
      padding-top: 20px !important;

      @include BootstrapMaxWidthResponsive($navmenu-resp-width){
        padding-top: 0 !important;
      }
    }

    &-megamenu{
      @include flexbox-display-flex();
      @include flexbox-justify-content(space-between);
      background-color: transparentize($var-custom-body-bg, 0.02);
      padding: 15px;
      @include border-radius(10px);
      @include box-shadow(0 0 20px 0 #e3e9f2);
      position: relative;

      @include BootstrapMaxWidthResponsive($navmenu-resp-width){
        display: block !important;
        background-color: transparentize(#d9e7fc, 0.5);
        padding: 10px;
        @include border-radius(0);
        @include box-shadow(none);
      }

      &::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $body-bg;
        top: -12px;
        left: 25px;

        @include BootstrapMaxWidthResponsive($navmenu-resp-width){
          display: none;
        }
      }

      &-col{
        @include flexbox-flex(0 0 auto);
        max-width: 100%;
        min-width: 180px;
        margin-right: 15px;

        @include BootstrapMaxWidthResponsive($navmenu-resp-width){
          margin-right: 0;
          margin-bottom: 15px;

          &:last-child{margin-bottom: 0;}
        }

        &.colmultimenu{
          margin-right: 5px;

          @include BootstrapMaxWidthResponsive($navmenu-resp-width){
            margin-right: 0;
            margin-bottom: 5px;

            &:last-child{margin-bottom: 0;}
          }
        }

        &:last-child{margin-right: 0;}

        h4{
          color: $navsubmenu-headclr;
          @include responsive-font-size($navsubmenu-headfontsize);
          font-weight: $navsubmenu-headfontweight;
          margin-bottom: 5px;
          margin-top: 5px;

          @include BootstrapMaxWidthResponsive($navmenu-resp-width){
            margin-top: 0;
          }
        }
      }
    }

    &-submenulist{
      > li{
        padding: 0;
        margin: 5px 0;

        &:first-child{margin-top: 0;}
        &:last-child{margin-bottom: 0;}

        a{
          color: $navsubmenu-navlinktxtclr;
          background-color: $navsubmenu-navlinkbgclr;
          @include responsive-font-size($navsubmenu-headfontsize);
          font-weight: $navsubmenu-headfontweight;
          display: block;
          padding: 12px 15px;
          @include border-radius(4px);
          @include transition-multiple(color 0.15s ease-in-out, background 0.15s ease-in-out);

          @include BootstrapMaxWidthResponsive($navmenu-resp-width){
            padding: 10px;
          }

          &:hover{
            color: $navsubmenu-navlinktxtclrhover;
            background-color: $navsubmenu-navlinkbgclrhover;
          }
        }
      }
    }
  }

  &-mobile{
    display:none;

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      height: 30px;
      position: relative;
      cursor: pointer;

      .btnhamb{
        width: 26px;
        height: 20px;
        position: relative;

        span,
        span::before,
        span::after{
          content: '';
          background: $site-clr-cyan;
          display: inline-block;
          height: 4px;
          width: 26px;
          position: absolute;
          @include border-radius(10px);
          @include transition-multiple(all $navmenu-resp-transition);
        }
        span{top: 0;}
        span::before{top: 8px;}
        span::after{top: 16px;}
      }
    }
  }

  &-moverlay{

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){
      overflow: hidden !important;
      position: fixed;
      @include translateX(#{$navmenu-resp-navwidth});
    }

    #{$navmenu-mainclass}-menu{
      @include translateX(-#{$navmenu-resp-navwidth});
      @include transition-multiple(transform $navmenu-resp-transition);
    }

    @include BootstrapMaxWidthResponsive($navmenu-resp-width){

      #{$navmenu-mainclass}-navbar{
        @include box-shadow(0 0 30px 0 #e3e9f2);
        @include translateX(-#{$navmenu-resp-navwidth});
        display: block !important;
      }

      #{$navmenu-mainclass}-mobile{
        position: fixed;
        left: 15px;
        top: 25px;

        .btnhamb{
          span{background-color: transparent;}
          span,
          span::before,
          span::after{top: 0;}
          span::before{@include transform-multiple(rotate(45deg));}
          span::after{top: 10px;@include transform-multiple(translateY(-10px) rotate(-45deg));}
        }
      }
    }
  }
}