.btn{
  white-space: nowrap;

  &:focus{@include box-shadow(none !important);}
  &:hover{@include box-shadow(none !important);}
  &:not(:disabled):not(.disabled).active:focus,
  &:not(:disabled):not(.disabled):active:focus{@include box-shadow(none !important);}

  &-secondary{
    border-color: $site-brdr-dark;

    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
      background-color: $site-brdr-dark;
      border-color: $site-brdr-dark;
    }
  }
}