/* Tabs UI Soft */
.sitetabs{

  &.nav{
    border-bottom-width: 0;
  }

  &.nav-tabs{

    .nav-item{
      @include responsive-font-size($var-custom-font-size-base);

      &:first-child .nav-link{border-left-width: 0;}
      &:last-child .nav-link{border-right-width: 0;}

      &.show{
        .nav-link{}
      }
    }

    .nav-link{
      border-top-width: 0 !important;
      white-space: nowrap;

      &.active{}
    }
  }

  &.nav-pills{
    .nav-item{
      @include responsive-font-size($var-custom-font-size-base);
    }

    .nav-link{
      white-space: nowrap;

      &.active{}
    }
  }

  &.tab-content{
    background-color: transparent;
    @include border-radius($var-custom-border-radius);
  }

}
/* Tabs UI Soft */

/* Tabs UI Dark */
.sitetabs.tabsdark{

  &.nav-tabs{

    .nav-item{
      &.show{
        .nav-link{}
      }
    }

    .nav-link{
      color: $site-clr-text-soft-sec;
      background-color: $site-clr-darkblue-800;
      border-color: $site-clr-darkblue-900;

      &.active{
        color: $site-clr-white;
        background-color: $site-clr-darkblue-700;
        border-color: transparent transparent $site-clr-darkblue-700;
      }
    }
  }

  &.nav-pills{

    .nav-item{

      .nav-link{
        color: $site-clr-text-soft-sec;
      }

    }

    &.nav-justified{

      .nav-item{

        &.show{
          .nav-link{}
        }

        .nav-link{
          margin-left: -1px;
          @include border-radius(0);
        }

        &:first-child{
          .nav-link{
            margin-left: 0;
            @include border-radii($var-custom-border-radius-sm,0,0,$var-custom-border-radius-sm);
          }
        }

        &:last-child{
          .nav-link{
            @include border-radii(0,$var-custom-border-radius-sm,$var-custom-border-radius-sm,0);
          }
        }
      }
    }

    &.pillsver{
      @include flexbox-flex-direction(column);

      .nav-item{
        padding: 2.5px 0;

        &:first-child{padding-top: 0;}
        &:last-child{padding-bottom: 0;}

        .nav-link{text-align: center;}
      }

    }


    .nav-link{
      color: $site-clr-text-soft-sec;
      border: 1px solid $site-clr-darkblue-500;

      &.active{
        color: $site-clr-white;
        background-color: $site-clr-darkblue-500;
      }
    }
  }

  &.tab-content{}

}
/* Tabs UI Dark */