/* Tabs UI Soft */
.sitetabs{

  &.nav{
    border-bottom-width: 0;
  }

  .nav{

    &-item{
      font-size: 0.75rem;

      &:first-child .nav-link{border-left-width: 0;}
      &:last-child .nav-link{border-right-width: 0;}

      &.show{
        .nav-link{}
      }
    }

    &-link{
      border-top-width: 0 !important;

      &.active{}
    }

  }

  &.tab-content{
    background-color: $site-clr-white;
    @include border-radii(0,0,$var-custom-border-radius,$var-custom-border-radius);
  }

}
/* Tabs UI Soft */

/* Tabs UI Dark */
.sitetabs.tabsdark{

  .nav{

    &-item{
      &.show{
        .nav-link{}
      }
    }

    &-link{
      color: #687CA2;
      background-color: #131B31;
      border-color: #0A0C14;

      &.active{
        color: white;
        background-color: #182239;
        border-color: transparent transparent #182239;
      }
    }

  }

  &.tab-content{
    background-color: $site-clr-darkblue-700;
  }

}
/* Tabs UI Dark */