
.sitetablediv{
  @include responsive-font-size($var-custom-font-size-base);
  line-height: 1;

  .tbl{

    &-tr{
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
      justify-content: space-between;
      @include border-radius($var-custom-border-radius);
      @include transition-multiple(color 0.15s ease-in-out, background-color 0.15s ease-in-out);
    }

    &-th,
    &-td{
      padding-left: 4px;
      padding-right: 4px;
      @include transition-multiple(color 0.15s ease-in-out, background-color 0.15s ease-in-out);
    }

    &-th.fxd,
    &-td.fxd{
      @include flexbox-flex-basis(0);
      @include flexbox-flex-grow(1);
      max-width: 100%;
    }

    &-th.aut,
    &-td.aut{
      @include flexbox-flex(0 0 auto);
      width: auto;
      max-width: 100%;
    }

    &-th{
      color: $site-clr-white;
      padding-top: 7px;
      padding-bottom: 10px;
    }

    &-td{
      color: $site-clr-text-soft-sec;
      padding-top: 3px;
      padding-bottom: 5px;
    }

    &-brdrbtm{
      .tbl-tr{
        border-top: 1px solid $site-brdr-dark;
      }
    }

    &-striped{
      .tbl-tr:nth-child(odd){
        background-color: $site-clr-darkblue-600;
      }
    }

    &-hovered{
      .tbl-tr:hover{
        background-color: $site-clr-darkblue-800;

        .tbl-td{
          color: $site-clr-white;
        }
      }
    }

    &-thead{}

    &-tbody{}

  }

}

.scrollbartbl{
  &-th{
    &[class*="active-y"]{
      .tbl-thead{
        padding-right: 10px;
      }
    }
  }

  &-tb{
    //height: 450px;
    position: relative;
    overflow: hidden;

    &.ps.ps--active-y{
      .tbl-tbody{
        padding-right: 10px;
      }
    }
  }
}