/* Components Variables Settings */
$headbgclr:                       $site-clr-darkblue-700;
$headlogo-clr-red:                $site-clr-red;
/* Components Variables Settings */

/* Extend Class */

/* Extend Class */

.header{
  background-color: $headbgclr;
  padding: 10px 5px 8px;

  &-left{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    @include headerleftandbodyleftsidewidth(3px);

    &-logo{
      margin: 0 5px;

      .headlogo{
        background-image: url(#{$path-img-url}/header/header_pro_logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        width: 150px;
        height: 24px;
        display: inline-block;
        text-indent: -9999px;

        @include BootstrapMaxWidthResponsive(hd){
          width: 145px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          width: 140px;
        }
      }
    }

    &-btn{
      @extend %extheadertopbtns;
    }
  }

  &-center{
    .siteformui{

      #{$formclassname}-control{
        border-right-width: 0;
      }
      #{$forminputclassname}-group{

        &-prepend{
          .input-group-text{
            color: $site-clr-white;
            background-color: $site-clr-darkblue-600;
            border-right-width: 2px;

            &.newslefttxt{
              @extend %extheaderandstatsinputgrouptitle01;
            }
          }
        }

        &-append{
          .input-group-text{
            color: $site-clr-white;

            &.newsallbtn{
              svg{
                margin-left: 5px;
                position: relative;
                top: 1px;

                path{
                  stroke: $site-clr-blue;
                }
              }
            }
          }
        }
      }
    }

    .newstickerbars{
      overflow-y: hidden;
      //max-height: 26px;
      padding: 0;

      &-item{
        color: $site-clr-text-soft-sec;
        //height: 26px;
        padding: 0.2rem 0.6rem;
        display: block;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.sliding-now{
          animation: up 1s linear infinite forwards;
          animation-delay: 4s;
        }

        @keyframes up {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(-26px);
          }
        }
      }
    }
  }

  &-right{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);

    &-theme{
      padding: 0 7px 0 10px;
    }

    &-btn{
      @extend %extheadertopbtns;
    }
  }

}