/* Components Variables Settings */
$headbgclr:                       $site-clr-darkblue-700;
$headlogo-clr-red:                $site-clr-red;
/* Components Variables Settings */

/* Extend Class */
%extheadbtns{
  @include flexbox-display-flex();
  @include flexbox-align-items(center);

  .btn{
    min-width: 105px;
    margin-right: 5px;

    &:last-child{margin-right: 0;}
  }
}
/* Extend Class */

.header{
  background-color: $headbgclr;
  padding: 10px 0;

  &-left{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    width: 400px;

    &-logo{
      margin: 0 5px;

      .headlogo{
        background-image: url(#{$path-img-url}/header/header_pro_logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        width: 150px;
        height: 24px;
        display: inline-block;
        text-indent: -9999px;
      }
    }

    &-btn{
      @extend %extheadbtns;
    }
  }

  &-center{
    .siteformui.formdark{
      #{$formclassname}-control{
        border-right-width: 0;
      }
      #{$forminputclassname}-group{
        &-text{
          &.newsallbtn{
            background-color: $site-clr-darkblue-700 !important;
            border-left-width: 0;

            svg{
              margin-left: 3px;

              path{
                stroke: $site-clr-blue;
              }
            }
          }
        }
      }
    }

    .newstickerbars{
      overflow-y: hidden;
      //max-height: 26px;
      padding: 0;

      &-item{
        color: $site-clr-text-soft-sec;
        //height: 26px;
        padding: 0.22rem 0.6rem;
        display: block;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.sliding-now{
          animation: up 1s linear infinite forwards;
          animation-delay: 4s;
        }

        @keyframes up {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(-26px);
          }
        }
      }
    }
  }

  &-right{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);

    &-theme{
      padding: 0 10px;
    }

    &-btn{
      @extend %extheadbtns;
    }
  }

}