/* Components Variables Settings */
$headbgclr:                       $site-clr-darkblue-900;
$headlogo-clr-red:                $site-clr-red;
/* Components Variables Settings */

.header{
  background-color: $headbgclr;
  padding: 10px 0;
  //min-height: 44px;

  &-left{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);

    .headlogo{
      background-image: url(#{$path-img-url}/header/header_pro_logo.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      width: 150px;
      height: 24px;
      margin-right: 15px;
      display: inline-block;
      text-indent: -9999px;
    }

    .btn{
      min-width: 105px;
      margin-right: 5px;

      &:last-child{margin-right: 0;}
    }

  }

  &-center{
    padding-left: 0;
    padding-right: 0;

    .siteformui.formdark{
      #{$formclassname}-control{
        border-right-width: 0;
      }
      #{$forminputclassname}-group{
        &-text{
          &.newsallbtn{
            background-color: $site-clr-darkblue-900 !important;
            border-left-width: 0;

            svg{
              margin-left: 3px;

              path{
                stroke: $site-clr-blue;
              }
            }
          }
        }
      }
    }

    .newstickerbars{
      overflow-y: hidden;
      //max-height: 26px;
      padding: 0;

      &-item{
        color: $site-clr-text-soft-sec;
        //height: 26px;
        padding: 0.22rem 0.6rem;
        display: block;
        vertical-align: middle;
        overflow: hidden;

        &.sliding-now{
          animation: up 1s linear infinite forwards;
          animation-delay: 4s;
        }

        @keyframes up {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(-26px);
          }
        }
      }
    }
  }

  &-right{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);

    .siteformui.formdark{
      padding: 0 10px;
    }

    .btn{
      min-width: 105px;
      margin-right: 5px;

      &:last-child{margin-right: 0;}
    }
  }

}